<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Document</title>
</head>
<body>

    <div class="page">
        
        <h2>Add User</h2>

        <form action="/create/user" method="post">

            <h3 class="heading1">First Name:</h3>

            <input type="text" name="first_name"  size="50">

            <h3 class="heading2">Last Name: </h3>

            <input type="text" name="last_name"  size="50">

            <h3 class="heading3">Email: </h3>

            <input type="text" name="email"  size="50">

            <a href="/user"> <button>Add User</button></a>
        
        </form>

    </div>

</body>
</html>